[submodule "godot-cpp"]
	path = internal/gdextension/buildenv/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "vcpkg"]
	path = internal/gdextension/buildenv/vcpkg
	url = https://github.com/microsoft/vcpkg.git
