[submodule "godot-cpp"]
	path = internal/gdextension/buildenv/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "internal/gdextension/buildenv/nanopb"]
	path = internal/gdextension/buildenv/nanopb
	url = https://github.com/nanopb/nanopb.git
