# Project metadata
cmake_minimum_required(VERSION 3.16)
project({{ .ExtensionName }} VERSION 1.0 LANGUAGES CXX)
set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_EXPORT_COMPILE_COMMANDS ON)

# ensure things are ready to go
if(DEFINED CMAKE_TOOLCHAIN_FILE)
  message(STATUS "CMAKE_TOOLCHAIN_FILE is set to: ${CMAKE_TOOLCHAIN_FILE}")
else()
  message(WARNING "CMAKE_TOOLCHAIN_FILE is not set. vcpkg dependencies might not be found.")
endif()

message(STATUS "Running with CMAKE_SYSTEM_PROCESSOR: ${CMAKE_SYSTEM_PROCESSOR}")
message(STATUS "Running with CMAKE_CXX_FLAGS: ${CMAKE_CXX_FLAGS}")

# get packages needed
find_package(protobuf CONFIG REQUIRED)

# Source files
file(GLOB SOURCES "src/*.cpp")
add_library({{ .ExtensionName }} SHARED ${SOURCES})

# where to build it to
set(OUT_DIR "${CMAKE_BINARY_DIR}/bin")

# setup dependencies
target_link_libraries({{ .ExtensionName }} PRIVATE protobuf::libprotobuf)

# setup godot-cpp
set(GODOTCPP_BUILD_PROFILE "${CMAKE_SOURCE_DIR}/build_profile.json")
add_subdirectory(godot-cpp SYSTEM)
get_target_property(GODOTCPP_SUFFIX godot::cpp GODOTCPP_SUFFIX)
set(GODOTCPP_SUFFIX ${GODOTCPP_SUFFIX} CACHE INTERNAL "Godot CPP Suffix")

target_link_libraries({{ .ExtensionName }} PRIVATE godot::cpp)
set_target_properties({{ .ExtensionName }} PROPERTIES 
  OUTPUT_NAME "{{ .ExtensionName }}${GODOTCPP_SUFFIX}"
  # Linux
  LIBRARY_OUTPUT_DIRECTORY "${OUT_DIR}"
  # Windows
  RUNTIME_OUTPUT_DIRECTORY "${OUT_DIR}"
  RUNTIME_OUTPUT_DIRECTORY_DEBUG "${OUT_DIR}"
  RUNTIME_OUTPUT_DIRECTORY_RELEASE "${OUT_DIR}"
  RUNTIME_OUTPUT_DIRECTORY_RELWITHDEBINFO "${OUT_DIR}"
  RUNTIME_OUTPUT_DIRECTORY_MINSIZEREL "${OUT_DIR}"

  CXX_VISIBILITY_PRESET "default"
  VISIBILITY_INLINES_HIDDEN 1
)
