[configuration]

entry_symbol = "gdextension_init"
compatibility_minimum = "4.5"

documentation_files = [
{{- if .GlobalEnums }}
    "./doc_classes/{{ .GDExtensionName }}Enums.xml",
{{- end }}
{{- range .ProtoData.Files }}
{{- range .Messages }}
    "./doc_classes/{{ .ClassName }}.xml",
{{- end }}
{{- end }}
]

[libraries]
; Relative paths ensure that our GDExtension can be placed anywhere in the project directory.
windows.x86_64.single.debug = "./dist/{{ .GDExtensionName }}.windows.template_debug.x86_64.dll"
windows.x86_64.double.debug = "./dist/{{ .GDExtensionName }}.windows.template_debug.x86_64.double.dll"
windows.x86_64.single.release = "./dist/{{ .GDExtensionName }}.windows.template_release.x86_64.dll"
windows.x86_64.double.release = "./dist/{{ .GDExtensionName }}.windows.template_release.x86_64.double.dll"

linux.x86_64.single.debug = "./dist/lib{{ .GDExtensionName }}.linux.template_debug.x86_64.so"
linux.x86_64.double.debug = "./dist/lib{{ .GDExtensionName }}.linux.template_debug.x86_64.double.so"
linux.x86_64.single.release = "./dist/lib{{ .GDExtensionName }}.linux.template_release.x86_64.so"
linux.x86_64.double.release = "./dist/lib{{ .GDExtensionName }}.linux.template_release.x86_64.double.so"

linux.arm64.single.debug = "./dist/lib{{ .GDExtensionName }}.linux.template_debug.arm64.so"
linux.arm64.double.debug = "./dist/lib{{ .GDExtensionName }}.linux.template_debug.arm64.double.so"
linux.arm64.single.release = "./dist/lib{{ .GDExtensionName }}.linux.template_release.arm64.so"
linux.arm64.double.release = "./dist/lib{{ .GDExtensionName }}.linux.template_release.arm64.double.so"

android.x86_64.single.debug = "./dist/lib{{ .GDExtensionName }}.android.template_debug.x86_64.so"
android.x86_64.double.debug = "./dist/lib{{ .GDExtensionName }}.android.template_debug.x86_64.double.so"
android.x86_64.single.release = "./dist/lib{{ .GDExtensionName }}.android.template_release.x86_64.so"
android.x86_64.double.release = "./dist/lib{{ .GDExtensionName }}.android.template_release.x86_64.double.so"

android.arm64.single.debug = "./dist/lib{{ .GDExtensionName }}.android.template_debug.arm64.so"
android.arm64.double.debug = "./dist/lib{{ .GDExtensionName }}.android.template_debug.arm64.double.so"
android.arm64.single.release = "./dist/lib{{ .GDExtensionName }}.android.template_release.arm64.so"
android.arm64.double.release = "./dist/lib{{ .GDExtensionName }}.android.template_release.arm64.double.so"

web.wasm32.single.debug = "./dist/lib{{ .GDExtensionName }}.web.template_debug.wasm32.nothreads.wasm"
web.wasm32.double.debug = "./dist/lib{{ .GDExtensionName }}.web.template_release.wasm32.double.nothreads.wasm"
web.wasm32.single.release = "./dist/lib{{ .GDExtensionName }}.web.template_release.wasm32.nothreads.wasm"
web.wasm32.double.release = "./dist/lib{{ .GDExtensionName }}.web.template_release.wasm32.double.nothreads.wasm"
